@page "/faqapps"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using BlazorAppQLDT.Shared
@using BlazorAppQLDT.Client.Pages.Componants;
@attribute [Authorize]
@inject HttpClient Http
@inject IFAQAppService FAQAppService
@inject NavigationManager NavigationManager

<PageTitle>FAQ</PageTitle>
<h3>FAQ</h3>
<br>
<GridColumn OnSearchTextChanged="OnQuestionSearchTextChanged"></GridColumn>
<br>

<div>
<button class="btn btn-primary" @onclick="CreateNewFAQ">Create FAQ</button>
</div>

<br>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>QuestionId</th>
            <th>Question</th>
            <th>Answers</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        
        @foreach (var questions in question) 
       {
           <tr>
               <td>@questions.Id</td>
               <td>@questions.Question</td>
               <td>@questions.FQA.Answers</td>
               <td>
                   <button class = "btn btn-warning" @onclick="(() => ShowFAQ(questions.Id))">
                       <i class="oi oi-pencil"></i>
                   </button>
                   
                   <button class = "btn btn-success" @onclick="(() => AddQuestion(questions.FQAId))">
                       <i class="oi oi-plus"></i>
                   </button>

                   <button class="btn btn-danger" @onclick="(() => DeleteQuestion(questions.Id))">
                       <i class="oi oi-trash"></i>
                   </button>
               </td>
           </tr>
       }
    </tbody>
</table>
<br>

<Confirm ConfirmationChanged="OnConfirmDeleteQuestion" @ref="DeleteConfirmation" >
</Confirm>

<Pagination TotalPages="@(totalPages != 0 ? totalPages : 1)"
            PageIndex="@pageIndex"
            Radius="3"
            OnSelectedPage="@SelectedPage">
</Pagination>

@code {
    private QuestionModel selectedQuestion;
    private IEnumerable<QuestionModel> question = Enumerable.Empty<QuestionModel>();
    string searchText = "";
    private int pageIndex = 1;
    private int itemsPerPage = 5;
    private int totalPages = 1;
    private int DeleteId { get; set; }
    protected BlazorAppQLDT.Componants.ConfirmBase DeleteConfirmation { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await FAQAppService.GetQuestions();
        //pagination
        question = FAQAppService.FQADetails.Take(itemsPerPage).ToList();
        totalPages = GetTotalPage();
    }

    int GetTotalPage()
    {
        int pageSize=5;
        if(searchText.Length != 0)
        {
            pageSize =  (int)Math.Ceiling(FAQAppService.FQADetails.Where(q => q.Question.ToLower().Contains(searchText.ToLower()) || q.FQA.Answers.ToLower().Contains(searchText.ToLower())).ToList().Count() / (decimal)pageSize);
        }
        else
        {
            pageSize =  (int)Math.Ceiling(FAQAppService.FQADetails.Count() / (decimal)pageSize);
        }
        return pageSize;
    }


    //pagination
    private void SelectedPage(int selectedPageIndex = 1)
    {
        pageIndex = selectedPageIndex;
        var skipCount = itemsPerPage * (pageIndex - 1);
        if (string.IsNullOrEmpty(searchText))
        {
            question = FAQAppService.FQADetails.ToList().Skip(skipCount).Take(itemsPerPage).ToList();
        }
        else
        {
            question = FAQAppService.FQADetails.Where(q => q.Question.ToLower().Contains(searchText.ToLower()) || q.FQA.Answers.ToLower().Contains(searchText.ToLower())).ToList().Skip(skipCount).Take(itemsPerPage).ToList();
        }

        totalPages = GetTotalPage();
    }
    

    private void HandleSearch(QuestionModel question)
    {
        if (question == null) return;
        selectedQuestion = question;
        NavigationManager.NavigateTo($"editquestion/{selectedQuestion.Id}");
    }

    void ShowFAQ(int id)
    {
        NavigationManager.NavigateTo($"editquestion/{id}");
    }

    void CreateNewFAQ()
    {
        NavigationManager.NavigateTo($"createfqa");
    }

    void AddQuestion(int id)
    {
        NavigationManager.NavigateTo($"addquestion/{id}");      
    }

    protected void DeleteQuestion(int deleteId)
    {
        DeleteId = deleteId;
        DeleteConfirmation.Show();
    }

    protected async Task OnConfirmDeleteQuestion(bool deleteConfirmed)
    {

        if(deleteConfirmed)
        {
            await FAQAppService.DeleteQuestion(DeleteId);
            await OnInitializedAsync();
            pageIndex = 1;
        }
    }

    async void OnQuestionSearchTextChanged(ChangeEventArgs changeEventArgs)
    {
        searchText = changeEventArgs.Value.ToString();
        SelectedPage();
    }
}
