@page "/sinhvien"
@using System.Data
@using System.IO
@using Microsoft.Extensions.Logging
@using NPOI.XSSF.UserModel
@using NPOI.SS.UserModel
@using System.Text.Json
@using BlazorAppQLDT.Client.Services.ExcelService
@using System.Net.Http.Headers
@using System.Linq
@inject HttpClient _Http
@inject ISinhvienService SinhvienServices
@inject IExcelService ExcelServices
@inject NavigationManager NavigationManager
<h3>Sinh vien</h3>  
<button class="btn btn-primary" @onclick="CreateAndEditSinhvien">Add sinh vien</button>

<p>
    <button onclick="document.getElementById('import').click()">Import</button>
    <InputFile id="import" OnChange="@ImportExcelFile" hidden mutiple></InputFile>
</p>
<input type="text" placeholder="Nhập tên" @bind-value="@searchTerm"/><button type="submit" @onclick="(()=>SearchTerm())">Search</button>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Tên</th>
            <th>Ngày sinh</th>
            <th>Ngành</th>
            <th>Hệ đào tạo</th>
            <th>Kết quả</th>
            <th>Hình thức</th>
            <th>Tình trạng</th>
            <th>Email</th>
            <th>Check mail</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var student in SinhvienServices.Sinhvienservices)
        {
            <tr>
                <td>@student.Id</td>
                <td>@student.Name</td>
                <td>@student.Ngaysinh</td>
                <td>@student.Nganh</td>
                <td>@student.Hedaotao</td>
                <td>@student.Ketqua</td>
                <td>@student.Hinhthuc</td>
                <td>@student.Tinhtrang</td>
                <td>@student.Mail</td>
                <td>@student.check_mail</td>
                <td>
                    <button class="btn btn-primary" @onclick="(() => ShowSinhvien(student.Id))"><i class="oi oi-pencil"></i></button>
                </td>
            </tr>
        }
        @foreach(DataRow row in dataTable.Rows)
            {
                <tr>
                    @foreach(DataColumn col in dataTable.Columns)
                        {
                            <td>@row[col.ColumnName].ToString()</td>                            
                        }                        
                </tr>
            }
    </tbody>
</table>
@code {
    DataTable dataTable = new DataTable();
    HttpClient client = new HttpClient();
    SinhvienModel objStudent = new SinhvienModel();  
    private string searchTerm;

    protected override async Task OnInitializedAsync()
    {   
        await SinhvienServices.GetSinhvienDetail();
    }
    void CreateAndEditSinhvien()
    {
        NavigationManager.NavigateTo("/sinhviendetail");
    }
    void ShowSinhvien(int id)
    {
        NavigationManager.NavigateTo($"sinhviendetail/{id}");
    }
    async void SearchTerm()
    {
        await SinhvienServices.SearchSinhvien(searchTerm);
        if(searchTerm == null)
        {
            await SinhvienServices.GetSinhvienDetail();
        }
    }
    async Task ImportExcelFile(InputFileChangeEventArgs e)
    {
        var filestream = e.File.OpenReadStream();
        var ms = new MemoryStream();
        await filestream.CopyToAsync(ms);
        filestream.Close();
        ms.Position = 0;
        ISheet sheet;
        var xsswb = new XSSFWorkbook(ms);

        sheet = xsswb.GetSheetAt(0);
        IRow hr = sheet.GetRow(0);
        var rl = new List<string>();
        int cc = hr.LastCellNum;

        for(var j = 0; j < cc; j++)
        {
            ICell cell = hr.GetCell(j);
            dataTable.Columns.Add(cell.ToString());
        }
        for (var j = (sheet.FirstRowNum + 1); j <= sheet.LastRowNum; j++)
        {
            var r = sheet.GetRow(j);
            for(var i=r.FirstCellNum; i<cc; i++)
            {
                rl.Add(r.GetCell(i).ToString());
            }
            if(rl.Count() > 0)
            {
                dataTable.Rows.Add(rl.ToArray());

                objStudent.Name = Convert.ToString(rl[1]);  
                objStudent.Ngaysinh = Convert.ToDateTime(rl[2]);  
                objStudent.Nganh = Convert.ToString(rl[3]);  
                objStudent.Hedaotao = Convert.ToString(rl[4]);  
                objStudent.Ketqua = Convert.ToString(rl[5]);  
                objStudent.Hinhthuc = Convert.ToString(rl[6]);  
                objStudent.Tinhtrang = Convert.ToString(rl[7]);  
                objStudent.Mail = Convert.ToString(rl[8]);  
                objStudent.check_mail = Convert.ToInt32(rl[9]);
                await ExcelServices.CreateExcelDetail(objStudent);
            }
            rl.Clear();
        }

}
    
}