@page "/CD15"
@using System.Data
@using System.IO
@using Microsoft.Extensions.Logging
@using NPOI.XSSF.UserModel
@using NPOI.SS.UserModel
@using System.Text.Json
@using BlazorAppQLDT.Client.Services.ExcelService
@using System.Net.Http.Headers
@using System.Linq
@using Newtonsoft.Json;
@inject HttpClient _Http
@inject ISinhvienCD15Service _sinhvienCD15Service
@inject IExcelService ExcelServices
@inject NavigationManager NavigationManager
<PageTitle>Sinh vien CD15</PageTitle>
<h3>Sinh vien CD15</h3>  
<button class="btn btn-primary" @onclick="CreateAndEditSinhvien">Add sinh vien</button>
<button class="btn btn-dark" @onclick="sendZNS">send</button>
<p>
    <button onclick="document.getElementById('import').click()">Import</button>
    <InputFile id="import" OnChange="@ImportExcelFile" hidden mutiple></InputFile>
</p>
<input type="text" placeholder="Nhập tên" @bind-value="searchTerm"/><button type="submit" @onclick="(()=>SearchTerm())">Search</button>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Tỉnh</th>
            <th>Tên</th>
            <th>Ngày sinh</th>
            <th>Tháng sinh</th>
            <th>Năm sinh</th>
            <th>Id Number</th>
            <th>Trường</th>
            <th>Lớp</th>
            <th>Số điện thoại</th>
            <th>Status</th>
            <th>UpdatedDateTime</th>
            <th>ResponseStatus</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var student in _sinhvienCD15Service.Sinhvienservices)
        {
            <tr>
                <td>@student.Id</td>
                <td>@student.Tinh</td>
                <td>@student.HoTen</td>
                <td>@student.NgaySinh</td> 
                <td>@student.ThangSinh</td>
                <td>@student.NamSinh</td>
                <td>@student.IdNumber</td>
                <td>@student.Truong</td>
                <td>@student.Lop</td>
                <td>@student.SoDienThoai</td>
                <td>@student.Status</td>
                <td>@student.UpdatedDateTime</td>
                <td>@student.ResponseStatus</td>
                <td>
                    <button class="btn btn-primary" @onclick="(() => ShowSinhvien(student.Id))"><i class="oi oi-pencil"></i></button>
                </td>
            </tr>
        }
        @foreach(DataRow row in dataTable.Rows)
            {
                <tr>
                    @foreach(DataColumn col in dataTable.Columns)
                        {
                            <td>@row[col.ColumnName].ToString()</td>                            
                        }                        
                </tr>
            }
    </tbody>
</table>
@code {
    DataTable dataTable = new DataTable();
    HttpClient client = new HttpClient();
    SinhvienCD15Model objStudent = new SinhvienCD15Model();  
    private string searchTerm;

    protected override async Task OnInitializedAsync()
    {   
        await _sinhvienCD15Service.GetSinhvienDetail();
    }
    void CreateAndEditSinhvien()
    {
        NavigationManager.NavigateTo("/CD15detail");
    }
    void ShowSinhvien(int id)
    {
        NavigationManager.NavigateTo($"CD15detail/{id}");
    }
    async void SearchTerm()
    {
        await _sinhvienCD15Service.SearchSinhvien(searchTerm);
    }
    async Task ImportExcelFile(InputFileChangeEventArgs e)
    {
        var filestream = e.File.OpenReadStream();
        var ms = new MemoryStream();
        await filestream.CopyToAsync(ms);
        filestream.Close();
        ms.Position = 0;
        ISheet sheet;
        var xsswb = new XSSFWorkbook(ms);

        sheet = xsswb.GetSheetAt(0);
        IRow hr = sheet.GetRow(0);
        var rl = new List<string>();
        int cc = hr.LastCellNum;

        for(var j = 0; j < cc; j++)
        {
            ICell cell = hr.GetCell(j);
            dataTable.Columns.Add(cell.ToString());
        }
        for (var j = (sheet.FirstRowNum + 1); j <= sheet.LastRowNum; j++)
        {
            var r = sheet.GetRow(j);
            for(var i=r.FirstCellNum; i<cc; i++)
            {
                rl.Add(r.GetCell(i).ToString());
            }
            if(rl.Count() > 0)
            {
                dataTable.Rows.Add(rl.ToArray());

                objStudent.Tinh = Convert.ToString(rl[1]);
                objStudent.HoTen = Convert.ToString(rl[2]);  
                objStudent.NgaySinh = Convert.ToInt32(rl[3]);  
                objStudent.ThangSinh = Convert.ToInt32(rl[4]);  
                objStudent.NamSinh = Convert.ToInt32(rl[5]);  
                objStudent.IdNumber = Convert.ToString(rl[6]);  
                objStudent.Truong = Convert.ToString(rl[7]);  
                objStudent.Lop = Convert.ToString(rl[8]);  
                objStudent.SoDienThoai = Convert.ToString(rl[9]);  
                objStudent.Status = Convert.ToInt32(rl[10]);
                objStudent.UpdatedDateTime = Convert.ToDateTime(rl[11]);
                objStudent.ResponseStatus = Convert.ToString(rl[12]);
                await ExcelServices.CreateExcelCD15Detail(objStudent);
            }
            rl.Clear();
        }
        NavigationManager.NavigateTo("/CD15");

    }
    async Task sendZNS()
    {
        await _sinhvienCD15Service.GetApplicationConfig();
        foreach (var t in _sinhvienCD15Service.Sinhvienservices)
        {
            if (t.Status == 0)
            {
                XNTS xnts = new XNTS();
                xnts.truong_hoc = t.Truong;
                xnts.MaHoSo = t.Id.ToString() + "A" + t.SoDienThoai;
                xnts.customer_name = t.HoTen;
                PayLoad payLoad = new PayLoad();
                payLoad.template_data = xnts;
                payLoad.phone = t.SoDienThoai;
                payLoad.template_id = "224730";
                payLoad.tracking_id = t.Id.ToString() + "A" + t.SoDienThoai;
                string payload = JsonConvert.SerializeObject(payLoad);
                string sendstatus = await _sinhvienCD15Service.SendZNS(payload);
                SendZNSStatus sendZNSStatus = JsonConvert.DeserializeObject<SendZNSStatus>(sendstatus);  
            }
        }
    }
    public class Quota
    {
        public int remainingQuota { get; set; }
        public int dailyQuota { get; set; }
    }

    public class MessageQuota
    {
        public Quota Datas { get; set; }
        public int error { get; set; }
        public string message { get; set; }
    }

    public class SendStatus
    {
        public string msg_id { get; set; }
        public string sent_time { get; set; }
        public Quota quota { get; set; }
    }

    public class SendZNSStatus
    {
        public int error { get; set; }
        public string message { get; set; }
        public SendStatus data { get; set; }
    }
    // Root myDeserializedClass = JsonConvert.DeserializeObject<Root>(myJsonResponse);
    public class XNTS
    {
        public string truong_hoc { get; set; }
        public string MaHoSo { get; set; }
        public string customer_name { get; set; }
    }

    public class PayLoad
    {
        public string phone { get; set; }
        public string template_id { get; set; }
        public XNTS template_data { get; set; }
        public string tracking_id { get; set; }
    }
}

